<div id="abtus">
<h1 id="abtush" class="white">ABOUT US</h1>
<p id="abtusp" class="white">
	The Institution of Engineering and Technology (IET)" is an International Professional 
Society as IEEE, with more than 1,00,000 members all over the world. The IET 
provides a global knowledge network to facilitate the exchange of ideas and promote 
the positive role of science, engineering and technology in the world.
Delhi Technological University(formerly Delhi College of Engineering) occupies a 
pivotal role in the matrix of Engineering Institutes in the country. The IET chapter of 
DTU has jointly worked to provide a unique opportunity to review the latest 
developments in engineering management and nurture the budding developers with 
technical skills and competitiveness to prove dexterous edge over the others. 
Under the invaluable guidance of DTU Vice 
Chancellor Prof.Yogesh Singh, IET DTU Chapter 
has emerged as one of the most active and 
innovative student branches in India. 
Delhi Technological University needs no 
introduction regarding its stature in the field of 
Electrical Engineering education. Established 
almost 7 decades ago with an aim to cater the 
needs of Indian Industries for skilled manpower, 
DTU has achieved innumerable milestones and its 
journey uphill continues. Every year IET DTU 
organises annual technical festival RENAISSANCE 
to promote the positive role of engineering, 
sciences in students and to cater the Cutting Edge 
Technology among their inquisitive nature. 
Renaissance is the Finest Platform for the 
Ingenious Minds to Show Their Talents In 
Technical Field & come together to put their skills 
to test. It is an assortment of various technological 
events to honour the student’s interests, 
competencies and technical skills.
</p>
<div id="abtusimg">
	<img src="/assets/iet_logo.png">
	<img src="/assets/dtu_logo.png">
</div>
</div>