<div class="row justify-content-around">
<div id="social" class="col-lg-6">
	<h2 class="white center">SOCIAL CONNECT</h2><br>
	<div id= "socialicon">
<span id="s">
	<a href="https://www.facebook.com/ietdtu/"><i class="fab fa-facebook fa-3x white"></i></a>
	</span>
	<a href="https://www.youtube.com/channel/UCazdC-LDM9Umy9RkXtlDTfg"><i class="fab fa-youtube fa-3x white"></i></a>
</div>
</div>
<div class="space"></div>
<div id="contact" class="col-lg-6">
	<h2 class="white center">CONTACT US</h2><br>
	<p class="white center">
		For more details<br>

 +91-9873050877<br>
 ietdtu19@gmail.com<br>
 Delhi Technological University, Delhi-42
	</p>
	</div>
</div>