<div id="eventsp" class="d-none d-lg-block">
	<div class="hg">
<!-- <img class="round size" src="/assets/sq1.jpg"> -->
<div class="item">
	 <a href="/tnt" class="psm">
	<div class="centra">
<i class="fas fa-cube fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Twist N Turn</h3>
</a>
</div>
<div class="item">
	<div class="centra">
		 <a href="/cs" class="psm">
<i class="fas fa-robot fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Tricky Circuits</h3>
</a>
</div>
<div class="item">
	<a href="/techxbit" class="psm">
	<div class="centra">
<i class="fas fa-scroll fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Tech-X-Bit</h3>
</a>
</div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="hg">
<!-- <img class="round size" src="/assets/sq1.jpg"> -->
<div class="item">
	 <a href="/cs" class="psm">
	<div class="centra">
<i class="fas fa-question fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Traviganza</h3>
</a>
</div>
<div class="item">
	<div class="centra">
		 <a href="/cs" class="psm">
<i class="fas fa-desktop fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Cerebral</h3>
</a>
</div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centra">
<i class="fas fa-rocket fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Water Rocketry</h3>
</a>
</div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="hg">
<!-- <img class="round size" src="/assets/sq1.jpg"> -->
<div class="item">
	 <a href="/cs" class="psm">
	<div class="centra">
<i class="fas fa-road fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Bridge It</h3>
</a>
</div>
<div class="item">
	 <a href="/cs" class="psm">
	<div class="centra">
<i class="fab fa-magento fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Maze Runner</h3>
</a>
</div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centra">
<i class="fas fa-car-crash fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Bot On Line</h3>
</a>
</div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="hg">
<div class="item">
	<a href="/cs" class="psm">
	<div class="centra">
<i class="fas fa-gamepad fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Oblivion</h3>
</a>
</div>
</div>
</div>

<div id="eventspm" class="d-block d-lg-none">
	<div class="item">
		<a href="/tnt" class="psm">
		<div class="centera">
<i class="fas fa-cube fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Twist N Turn</h3>
</a>
</div>

	<div class="space"></div>
<div class="item">
	 <a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-robot fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Tricky Circuits</h3>
</a>
</div>
<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-scroll fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Tech-X-Bit</h3>
</div>
</a>
<div class="space"></div>

<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-question fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Traviganza</h3>
</div>
</a>
<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-desktop fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Cerebral</h3>
</div>
</a>

<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-rocket fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Water Rocketry</h3>
</div>
</a>

<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-road fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Bridge It</h3>
</div>
</a>

<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fab fa-magento fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Maze Runner</h3>
</div>
</a>
<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-car-crash fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Bot On Line</h3>
</div>
</a>
<div class="space"></div>
<div class="item">
	<a href="/cs" class="psm">
	<div class="centera">
<i class="fas fa-gamepad fa-10x white"></i>
</div>
<h3 class="white" style="text-align: center">Oblivion</h3>
</div>
</a>
<div class="space"></div>
	</div>
	