
<body>
<div id="front" class="d-none d-lg-flex">
<!-- <div class="slogan"><h1 class="white wow bounce">RELIVE</h1></div>
<div class="slogan"><h1 class="white wow bouce" style="padding-top: 20vh">RECREATE</h1></div>
<div class="slogan"><h1 class="white wow bouce">INNOVATE</h1></div> -->
</div>
<div id="front2" class="d-flex d-sm-flex d-lg-none">
  </div>
<div id="Eventposterm" class="d-flex d-md-flex d-lg-none crd1">
  <div class="col-sm-10 card1">
  <div class="card" >
  <a href="/tnt" class="psm">
  <img src="assets/tnt.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TWIST N TURN</p>
    </a>
  </div>
</div>
</div>
 <div class="col-sm-10 card1">
  <div class="card" >
     <a href="/techxbit" class="psm">
  <img src="assets/techxbit.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TECH-X-BIT</p>
  </a>
  </div>
</div>
</div>
 <div class="col-sm-10 card1">
  <div class="card" >
     <a href="/maze" class="psm">
  <img src="assets/robomaze.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Robo Maze</p>

  </a>
  </div>
</div>
</div>
 <div class="col-sm-10 card1">
  <div class="card" >
    <a href="/travaganza" class="psm">
  <img src="./assets/travaganza.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Travaganza</p>
  </a>
  </div>
</div>
</div>
 <div class="col-sm-10 card1">
  <div class="card" >
     <a href="/trickycircuits" class="psm">
  <img src="assets/trickycircuits.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TRICK CIRCUits</p>
  </a>
  </div>
</div>
</div>
 <div class="col-sm-10 card1">
  <div class="card" >
     <a href="/botonline" class="psm">
  <img src="assets/botonline.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">BOT ON LINE</p>
  </a>
  </div>
</div>
</div>
</div>
<div id="Eventposters" class="d-none d-lg-flex row">

<div class="col-sm-3 card1">
  <div class="card" >
     <a href="/tnt" class="psm">
  <img src="assets/tnt.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TWIST N TURN</p>
  </a>
  </div>
</div>
</div>
<div class="col-sm-3 card1">
<div class="card">
   <a href="/techxbit" class="psm">
  <img src="assets/techxbit.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TECH-X-BIT</p>
  </a>
  </div>
</div>
</div>
<div class="col-sm-3 card1">
<div class="card">
  <a href="/travaganza" class="psm">
  <img src="assets/travaganza.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Travaganza</p>
  </a>
  </div>
</div>
</div>
<div class="col-sm-3 card1">
<div class="card" >
  <a href="/botonline" class="psm">
  <img src="assets/botonline.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Bot On Line</p>
  </a>
  </div>
</div>
</div>
<div class="col-sm-3 card1">
<div class="card">
  <a href="/maze" class="psm">
  <img src="assets/robomaze.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Robo Maze</p>
  </a>
  </div>
</div>
</div>


<div class="col-sm-3 card1">
<div class="card">
  <a href="/trickycircuits" class="psm">
  <img src="assets/trickycircuits.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">TRICK CIRCUITS</p>
  </a>
  </div>
</div>
</div>

</div>


<div id="Pryw" class="d-none d-lg-block">
	
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/fest161.jpg" class="d-block w-100 hgh" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/fest163.jpg" class="d-block w-100 hgh" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/fest1610.jpg" class="d-block w-100 hgh" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/assets/fest1612.jpg" class="d-block w-100 hgh" alt="...">
    </div>
      <div class="carousel-item">
      <img src="/assets/fest166.jpg" class="d-block w-100 hgh" alt="...">
    </div>
       <div class="carousel-item">
      <img src="/assets/fest1611.jpg" class="d-block w-100 hgh" alt="...">
    </div>
      <div class="carousel-item">
      <img src="/assets/fest162.jpg" class="d-block w-100 hgh" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  <div id="contact">
      <div id="media">
 <span id="s">
  <a href="https://www.facebook.com/ietdtu/"><i class="fab fa-facebook fa-4x white"></i></a>
  </span>
  <a href="https://www.youtube.com/channel/UCazdC-LDM9Umy9RkXtlDTfg"><i class="fab fa-youtube fa-4x white"></i></a>
</div><br>
<p id="arpit" class="white" style="font-size: 3vh;">Developed By-:Arpit Sachdeva<br>Designed By-:Samvit Mukharjee</p>

</div>

</body>