<div class="d-none d-lg-block">
<h2 id="shead" class="center white">Our Associate Sponsors</h2>
	<div id="simg">
		
	<img src="/assets/bhel.png" class="simg1"> 
	<img src="/assets/mmu.png"class="simg1"></h2>
	</div>
</div>

<div class="d-block d-lg-none">
<h2 id="shead" class="center white">Our Associate Sponsors</h2>
	<div class="simgm">
		
	<img src="/assets/bhel.png" class="simg1m"> </div>
	<div class="simgm">
	<img src="/assets/mmu.png"class="simg1m"></h2>
	</div>
</div>