<div class="d-none d-lg-block">

	<div class="simgm">
		
	<img src="/assets/powergrid.png" class="simg12"> </div>
	<div id="simg">
		
	<img src="/assets/bhel.png" class="simg1"> 
	<img src="/assets/mmu2.png"class="simg1" style="width:34vw">
	</div>
</div>

<div class="d-block d-lg-none">

<div class="simgm">
		
	<img src="/assets/powergrid.png" class="simg1m" style="width:60vw"> </div><br><br>
	<div class="simgm">
		
	<img src="/assets/bhel.png" class="simg1m"> </div><br><br>
	<div class="simgm">
	<img src="/assets/mmu2.png"class="simg1m"><br>
	</div>
</div>