<div class="d-none d-lg-block">
<h2 class="evnth">Bot On Line</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/botonline.jpg">
</div>
<div class="abtevent">
	<p class="sizl">Calling all the robotic enthusiasts, it's time to show what we're made off.💫✨<br>
Renaissance IET DTU is a creative platform for you to learn, explore and share your knowledge on line robotics and automation. Come, channel the shroud in you and bust out your best move to take home the trophy.<br>
Grab your chance to showcase your inventive creations and inquisitiveness.<br>
Participate in teams of 2-5 members.<br>
We present you with our flagship Robotic Event: <strong>BOT-ON-LINE</strong> 🤖👾🤖👾<br>

Event Details:-<br>
Event Date- 8th Feb  2019<br>
Event Time- 1pm<br>
Event Venue- Electrical Lawns, behind Electrical Engineering Department, DTU<br>
Refreshments will be provided to all the participants<br>

Hurry up!! Register and win prizes upto 8k<br>

Check our event BOT-ON-LINE at:<br>
<a href="https://www.facebook.com/events/2247027872282550/?ti=as">
https://www.facebook.com/events/2247027872282550/?ti=as
</a><br>

Event details:<br> <a href="https://drive.google.com/open?id=1Mk96JvDRIwiJnfSFd1qjJYKpYRHr7Ppy">https://drive.google.com/open?id=1Mk96JvDRIwiJnfSFd1qjJYKpYRHr7Ppy</a><br><br>
For any queries, Contact:<br>
Hari Om Tiwari - 9711593112<br>
Hemant – 9958803242<br> </p><br>
<a class="psm" href="https://docs.google.com/forms/d/1f4sqCN5Nmo5FcQQiM7lQ9jW5imoaTMAojeoHOQto6rg/viewform?edit_requested=true"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/botonline.jpg">
</div>
		<p class="white siz" style="text-align: center">Calling all the robotic enthusiasts, it's time to show what we're made off.💫✨<br>
Renaissance IET DTU is a creative platform for you to learn, explore and share your knowledge on line robotics and automation. Come, channel the shroud in you and bust out your best move to take home the trophy.<br>
Grab your chance to showcase your inventive creations and inquisitiveness.<br>
Participate in teams of 2-5 members.<br>
We present you with our flagship Robotic Event: <strong>BOT-ON-LINE</strong> 🤖👾🤖👾<br>

Event Details:-<br>
Event Date- 8th Feb  2019<br>
Event Time- 1pm<br>
Event Venue- Electrical Lawns, behind Electrical Engineering Department, DTU<br>
Refreshments will be provided to all the participants<br>

Hurry up!! Register and win prizes upto 8k<br>

Check our event BOT-ON-LINE at:<br>
<a href="https://www.facebook.com/events/2247027872282550/?ti=as">
https://www.facebook.com/events/2247027872282550/?ti=as
</a><br>

Event details:<br> <a href="https://drive.google.com/open?id=1Mk96JvDRIwiJnfSFd1qjJYKpYRHr7Ppy">https://drive.google.com/open?id=1Mk96JvDRIwiJnfSFd1qjJYKpYRHr7Ppy</a><br><br>
For any queries, Contact:<br>
Hari Om Tiwari - 9711593112<br>
Hemant – 9958803242<br> </p><br>
<div class="regm">
<a class="psm" href="https://docs.google.com/forms/d/1f4sqCN5Nmo5FcQQiM7lQ9jW5imoaTMAojeoHOQto6rg/viewform?edit_requested=true"><div class="reg10m"><p id="registerp">REGISTER</p></div></a>
</div>
	</div>