<div class="d-none d-lg-block">
<h2 class="evnth">Cerebral</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/cerebral.jpeg">
</div>
<div class="abtevent">
	<p>The Institution of Engineering and Technology (IET)" is an International Professional 
Society as IEEE, with more than 1,00,000 members all over the world. The IET 
provides a global knowledge network to facilitate the exchange of ideas and promote 
the positive role of science, engineering and technology in the world.
Delhi Technological University(formerly Delhi College of Engineering) occupies a 
pivotal role in the matrix of Engineering Institutes in the country. The IET chapter of 
DTU has jointly worked to provide a unique opportunity to review the latest 
developments in engineering management and nurture the budding developers with 
technical skills and competitiveness to prove dexterous edge over the others. 
Under the invaluable guidance of DTU Vice 
Chancellor Prof.Yogesh Singh, IET DTU Chapter 
has emerged as one of the most active and 
innovative student branches in India. 
Delhi Technological University needs </p><br>
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfNJ5E4MOYH529Aew2jtVVDw5LvgE83FGUkEoOltUAgOOOlFQ/viewform"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/cerebral.jpeg">
</div>
		<p class="white" style="text-align: center">The Institution of Engineering and Technology (IET)" is an International Professional 
Society as IEEE, with more than 1,00,000 members all over the world. The IET 
provides a global knowledge network to facilitate the exchange of ideas and promote 
the positive role of science, engineering and technology in the world.
Delhi Technological University(formerly Delhi College of Engineering) occupies a 
pivotal role in the matrix of Engineering Institutes in the country. The IET chapter of 
DTU has jointly worked to provide a unique opportunity to review the latest 
developments in engineering management and nurture the budding developers with 
technical skills and competitiveness to prove dexterous edge over the others. 
Under the invaluable guidance of DTU Vice 
Chancellor Prof.Yogesh Singh, IET DTU Chapter 
has emerged as one of the most active and 
innovative student branches in India. 
Delhi Technological University needs </p><br>
<div class="regm">
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfNJ5E4MOYH529Aew2jtVVDw5LvgE83FGUkEoOltUAgOOOlFQ/viewform"><div class="reg">REGISTER</div></a>
</div>
	</div>