<div class="d-none d-lg-block">
<h2 class="evnth">Cerebral</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/cerebral.jpeg">
</div>
<div class="abtevent">
	<p class="sizl">
		<q>War is 90% information</q> - Napoleon Bonaparte<br>
Data is becoming the new raw material of business. Master it and you'll be welcomed nearly everywhere.<br>

IET, the DTU Student Chapter in association with Renaissance , INVICTUS presents you <strong>CEREBRAL</strong>, a data science enthusiast event. The challenge is ingesting and interpreting the data to determine which data is useful to solve a community-based problem through the eyes of data. It is the perfect way to improve your skills and update your knowledge. <br>

This is the right time to apply everything you have learned so far. So let's compete with our own-selves to see if we can cope up with this heavily unbalanced dataset, which resembles the real-life data.<br>

Participate in teams of up to 4 members.<br>
Cross College teams are also allowed<br>
UG/PG collab is allowed<br>
<strong>Registration fees - NIL</strong><br>

Refreshments will be provided to the participants<br><br>


Event Date- 8th Feb 2019<br>
Event Time- 12 onwards<br>
Venue- Edusat Hall, Electrical Engineering Department, DTU<br><br>

<strong>Prizes up to ₹4,000</strong>/-💥⚡ ✨💫<br>

>> Please carry your own Laptops and Dongles( if possible).<br>
	</p><br>
<a class="psm" href="https://docs.google.com/forms/d/1SvsG6bRYC0-LSC0vPDCCjxV4wK0t0mQi9mjo1mEQKh4/viewform?edit_requested=true"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/cerebral.jpeg">
</div>
		<p class="white siz" style="text-align: center">War is 90% information</q> - Napoleon Bonaparte<br>
Data is becoming the new raw material of business. Master it and you'll be welcomed nearly everywhere.<br>

IET, the DTU Student Chapter in association with Renaissance , INVICTUS presents you <strong>CEREBRAL</strong>, a data science enthusiast event. The challenge is ingesting and interpreting the data to determine which data is useful to solve a community-based problem through the eyes of data. It is the perfect way to improve your skills and update your knowledge. <br>

This is the right time to apply everything you have learned so far. So let's compete with our own-selves to see if we can cope up with this heavily unbalanced dataset, which resembles the real-life data.<br>

Participate in teams of up to 4 members.<br>
Cross College teams are also allowed<br>
UG/PG collab is allowed<br>
<strong>Registration fees - NIL</strong><br>

Refreshments will be provided to the participants<br><br>


Event Date- 8th Feb 2019<br>
Event Time- 12 onwards<br>
Venue- Edusat Hall, Electrical Engineering Department, DTU<br><br>

<strong>Prizes up to ₹4,000</strong>/-💥⚡ ✨💫<br>

>> Please carry your own Laptops and Dongles( if possible). </p><br>
<div class="regm">
<a class="psm" href="https://docs.google.com/forms/d/1SvsG6bRYC0-LSC0vPDCCjxV4wK0t0mQi9mjo1mEQKh4/viewform?edit_requested=true"><div class="reg">REGISTER</div></a>
</div>
	</div>