<div class="d-none d-lg-block">
<h2 class="evnth">Tech-X-Bit</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/techxbit.jpg">
</div>
<div class="abtevent">
	<p size="sizl">

A CALL FOR ALL THE RESEARCHERS OUT THERE...<br>
It’s time to showcase your Hard work.<br>

Renaissance IET DTU is a platform that’ll allow you to share your Creative Papers and share your Knowledge on the line of Research propositions based on several Intuitive Topics with a chance to get your papers published in the IET conference👨🏻‍💻
<br>
The stakes are high, so is the PRIZE! ✨✨<br>
We present you with our Flagship Research Event in association with Invictus : TECH-X-BIT: TECHNICAL PAPER PRESENTATION <br><br>
For Registering Click on link below<br>

Participate in a team which must comprise of <strong>2-3 members</strong>.<br>

<strong>Registration Fees - NIL</strong><br>

To participate, participants shall mail their papers to<br> 
Email: ietdtu19@gmail.com<br>

Note: The papers shall be in typical IEEE format ( Template-<a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/.../Conference-template-A4.doc">https://www.ieee.org/content/dam/ieee-org/ieee/web/org/.../Conference-template-A4.doc</a>). <br>

Last date for submission of the paper on the given mail id- <strong>5th Feb, 2019</strong>

Event Details:-<br>
Event Date- 9th Feb  2019<br>
Event Time- 11am onwards<br>
Event Venue- Conference Room, Electrical Engineering Department, DTU<br>

Grab your chance to win cash prizes up to 6k and a chance to get your paper published<br>

Check our fb event: <a href="https://www.facebook.com/events/2035609733201477/?ti=as">https://www.facebook.com/events/2035609733201477/?ti=as</a><br>

For any queries, contact:<br>
Prashant- 9868242779<br>>
Amit Bhattacharjee- 9990353244<br>
Aniket Singh- 8800704689<br>
 </p><br>
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfOsLneB4UciQyt0HqDJ11zIIH-7bH-cf4VR-qu2pyQ1XKufw/viewform"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/techxbit.jpg">
</div>
		<p class="white siz" style="text-align: center">A CALL FOR ALL THE RESEARCHERS OUT THERE...<br>
It’s time to showcase your Hard work.<br>

Renaissance IET DTU is a platform that’ll allow you to share your Creative Papers and share your Knowledge on the line of Research propositions based on several Intuitive Topics with a chance to get your papers published in the IET conference👨🏻‍💻
<br>
The stakes are high, so is the PRIZE! ✨✨<br>
We present you with our Flagship Research Event in association with Invictus : TECH-X-BIT: TECHNICAL PAPER PRESENTATION <br><br>
For Registering Click on link below<br>

Participate in a team which must comprise of <strong>2-3 members</strong>.<br>

<strong>Registration Fees - NIL</strong><br>

To participate, participants shall mail their papers to<br> 
Email: ietdtu19@gmail.com<br>

Note: The papers shall be in typical IEEE format ( Template-<a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/.../Conference-template-A4.doc">https://www.ieee.org/content/dam/ieee-org/ieee/web/org/.../Conference-template-A4.doc</a>). <br>

Last date for submission of the paper on the given mail id- <strong>5th Feb, 2019</strong>

Event Details:-<br>
Event Date- 9th Feb  2019<br>
Event Time- 11am onwards<br>
Event Venue- Conference Room, Electrical Engineering Department, DTU<br>

Grab your chance to win cash prizes up to 6k and a chance to get your paper published<br>

Check our fb event: <a href="https://www.facebook.com/events/2035609733201477/?ti=as">https://www.facebook.com/events/2035609733201477/?ti=as</a><br>

For any queries, contact:<br>
Prashant- 9868242779<br>>
Amit Bhattacharjee- 9990353244<br>
Aniket Singh- 8800704689<br></p><br>
<div class="regm">
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfOsLneB4UciQyt0HqDJ11zIIH-7bH-cf4VR-qu2pyQ1XKufw/viewform"><div class="reg10m"><p id="registerp">REGISTER</p></div></a>
</div>
	</div>