<div class="d-none d-lg-block">
<h2 class="evnth">Twist N Turn</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/tnt.jpg">
</div>
<div class="abtevent">
	<p class="sizl">Arrive in six colours, leave in one! We at Renaissance'19 bring you to a thrilling and adventurous Rubik's Cube Speed Challenge- <strong>TWIST 'N' TURN</strong><br>
Challenge the cube solver in you in one of the most exhilarating ways! <br>

Not to forget, there are exciting prizes upto ₹8000/- up for grabs! So what are you waiting for?<br>


Check our fb event link:<br>
<a href="https://www.facebook.com/events/692735477788147/?ti=ia">https://www.facebook.com/events/692735477788147/?ti=ia</a><br>


Event dates: 8-10th Feb, 2019<br>
Event timings: 11am-4pm (in slots)<br>
Venue: TBA<br>

For any queries, contact:<br>
Nidhi-9818351891<br>
Sapna-9821937794 <br></p><br>
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfNJ5E4MOYH529Aew2jtVVDw5LvgE83FGUkEoOltUAgOOOlFQ/viewform"><div class="reg">REGISTER</div></a>
</div>
</div>

</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/tnt.jpg">
</div>
		<p class="white siz" style="text-align: center">
	Arrive in six colours, leave in one! We at Renaissance'19 bring you to a thrilling and adventurous Rubik's Cube Speed Challenge- <strong>TWIST 'N' TURN</strong><br>
Challenge the cube solver in you in one of the most exhilarating ways! <br>

Not to forget, there are exciting prizes upto ₹8000/- up for grabs! So what are you waiting for?<br>


Check our fb event link:<br>
<a href="https://www.facebook.com/events/692735477788147/?ti=ia">https://www.facebook.com/events/692735477788147/?ti=ia</a><br>


Event dates: 8-10th Feb, 2019<br>
Event timings: 11am-4pm (in slots)<br>
Venue: TBA<br>

For any queries, contact:<br>
Nidhi-9818351891<br>
Sapna-9821937794 <br> </p><br>
<div class="regm">
<a class="psm" href="https://docs.google.com/forms/d/e/1FAIpQLSfNJ5E4MOYH529Aew2jtVVDw5LvgE83FGUkEoOltUAgOOOlFQ/viewform"><div class="reg10m"><p id="registerp">REGISTER</p></div></a>
</div>
	</div>