<div class="d-none d-lg-block">
<h2 class="evnth">TRAVIGANZA</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/travaganza.jpg">
</div>
<div class="abtevent">
	<p class="sizl">Do you have what it takes to show your quizzing brain? <br>
Do you have what it takes to prove that you can survive in this ever evolving world? <br>
We, at RENAISSANCE'19 provide you an opportunity to show your intellect in quiz which includes current scenarios of Technological Advancements with questions on  Fiction, Business, Current Affairs and Gadgets & many others.<br>

We present to you our quizzing event — <strong>TRAVAGANZA</strong>💡🤓
Join the Battle of the Best with the greatest quizzing minds. Participate in teams of upto 2 members.<br>
Registration fees - NIL<br>



Refreshments will be provided to the participants<br>
For further details visit: <br>
https://ietdtu19.com<br>

Event Date- 9th Feb, 2019<br>
Event Time- 12noon<br>
Venue- Edusat Hall, Electrical Engineering Department, DTU<br>

<strong>Prizes upto ₹6,000/-</strong>💥⚡ ✨💫

Check our fb event:<br>
<a href="https://www.facebook.com/events/484367665300883/?ti=as">https://www.facebook.com/events/484367665300883/?ti=as</a><br>

For any queries, Contact:<br>
Kunal- 9667841422<br>
Dhairya- 9873173902<br>
Aditya- 8860075175 <br></p><br>
<a class="psm" href="https://tinyurl.com/travaganza"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/travaganza.jpg">
</div>
		<p class="white siz" style="text-align: center">Do you have what it takes to show your quizzing brain? <br>
Do you have what it takes to prove that you can survive in this ever evolving world? <br>
We, at RENAISSANCE'19 provide you an opportunity to show your intellect in quiz which includes current scenarios of Technological Advancements with questions on  Fiction, Business, Current Affairs and Gadgets & many others.<br>

We present to you our quizzing event — <strong>TRAVAGANZA</strong>💡🤓
Join the Battle of the Best with the greatest quizzing minds. Participate in teams of upto 2 members.<br>
Registration fees - NIL<br>



Refreshments will be provided to the participants<br>
For further details visit: <br>
https://ietdtu19.com<br>

Event Date- 9th Feb, 2019<br>
Event Time- 12noon<br>
Venue- Edusat Hall, Electrical Engineering Department, DTU<br>

<strong>Prizes upto ₹6,000/-</strong>💥⚡ ✨💫

Check our fb event:<br>
<a href="https://www.facebook.com/events/484367665300883/?ti=as">https://www.facebook.com/events/484367665300883/?ti=as</a><br>

For any queries, Contact:<br>
Kunal- 9667841422<br>
Dhairya- 9873173902<br>
Aditya- 8860075175 <br></p><br>
<div class="regm">
<a class="psm" href="https://tinyurl.com/travaganza"><div class="reg">REGISTER</div></a>
</div>
	</div>