<div class="d-none d-lg-block">
<h2 class="evnth">TRAVIGANZA</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/trickycircuits.jpg">
</div>
<div class="abtevent">
	<p class="sizl">
		Are you good in coding with arduino or making projects with arduino ??<br>

<strong>D.E.P.T.H. & I.E.T</strong> along with Invictus is willing to create an umbworld that will foster and support innovation and knowledge-based expansion For this we bring a unique event this year in Aurora'19 and Renaissance'19 Tech fest event <strong>TRICKY CIRCUITS</strong>.<br>

This event is going to be in two phase:<br>
1. <strong>Pre-planned</strong> - In this you are allowed to bring your built arduino projects.<br>
2. <strong>On the spot</strong> - In this we provide you arduino and all necessary components and apparatus and you to build a project based on our provided problems.<br>

Important details of the event-<br>
1. Students have to bring their own laptop.<br>
2. Participants of pre -planned contest have to present their idea with proper power point presentation.<br>
3. Abstract of the presentation must be sent earlier to this Email ID - <strong>depthdtudelhi@gmail.com and ietdtu19@gmail.com</strong> (i.e. Before the Tech-fest)<br>>
4) Participation should be done by an individual or maximum team of 5 students.<br>

Event Details: <a href="https://tinyurl.com/rulestrick">https://tinyurl.com/rulestrick</a><br>

Event date - 8th Feb,2019.<br>
Event time: 12pm onwards<br>
<strong>
For further details - <br>
Ankit Jaiswal- 7011404948<br>
Arpit sachdeva:-98730 50877<br></strong>
	</p><br>
<a class="psm" href="https://tinyurl.com/TrickyCircuits"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/trickycircuits.jpg">
</div>
		<p class="white siz" style="text-align: center">Are you good in coding with arduino or making projects with arduino ??<br>

<strong>D.E.P.T.H. & I.E.T</strong> along with Invictus is willing to create an umbworld that will foster and support innovation and knowledge-based expansion For this we bring a unique event this year in Aurora'19 and Renaissance'19 Tech fest event <strong>TRICKY CIRCUITS</strong>.<br>

This event is going to be in two phase:<br>
1. <strong>Pre-planned</strong> - In this you are allowed to bring your built arduino projects.<br>
2. <strong>On the spot</strong> - In this we provide you arduino and all necessary components and apparatus and you to build a project based on our provided problems.<br>

Important details of the event-<br>
1. Students have to bring their own laptop.<br>
2. Participants of pre -planned contest have to present their idea with proper power point presentation.<br>
3. Abstract of the presentation must be sent earlier to this Email ID - <strong>depthdtudelhi@gmail.com and ietdtu19@gmail.com</strong> (i.e. Before the Tech-fest)<br>>
4) Participation should be done by an individual or maximum team of 5 students.<br>

Event Details: <a href="https://tinyurl.com/rulestrick">https://tinyurl.com/rulestrick</a><br>

Event date - 8th Feb,2019.<br>
Event time: 12pm onwards<br>
<strong>
For further details - <br>
Ankit Jaiswal- 7011404948<br>
Arpit sachdeva:-98730 50877<br></strong></p><br>
<div class="regm">
<a class="psm" href="https://tinyurl.com/TrickyCircuits"><div class="reg">REGISTER</div></a>
</div>
	</div>