<div class="d-none d-lg-block">
<h2 class="evnth">Tech-X-Bit</h2><br>
<div class="evntp">
<div class="imgdiv">
	<img class="imgposter"src="/assets/virtuosol.jpg">
</div>
<div class="abtevent">
	<p size="sizl">

<strong><q>You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete</q><br>
― Buckminster Fuller<br></strong>

IET DTU Student Chapter presents its annual tech fest Renaissance'19 in association with INVICTUS, VIRTUO-SOL, a simulation event. The competitor will be solving a given problem statement virtually. The event enables you to test your simulating skills in <strong>SIMULINK/Proteus/PSpice.</strong> <br>

It's time to brace up your skills & test them in this simulation extravaganza.<br>

<strong>Participation to be done individually.</strong><br>
Registration fees - NIL<br><br>


Refreshments will be provided to the participants<br>


Event Details: <a href="https://tinyurl.com/rulesvirtuoa">https://tinyurl.com/rulesvirtuoa</a><br>

Event Date- 8th Feb 2019<br>
Event Time- 11am onwards<br>
Venue- Electrical Engineering Department, DTU<br><br>

Prizes up to ₹4,000/-💥⚡ ✨💫<br><br>
<strong>
For any queries, Contact:<br>
Aditi-9654552098<br>
Deepanshi-7011550338<br></strong>
 </p><br>
<a class="psm" href="https://tinyurl.com/Virtuo-Sol"><div class="reg">REGISTER</div></a>
</div>
</div>
<div class="reg1">

</div>
</div>
<div class="d-block d-lg-none" >
	<div class="imgdivm">
	<img class="imgpostermobile"src="/assets/virtuosol.jpg">
</div>
		<p class="white siz" style="text-align: center"><strong><q>You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete</q><br>
― Buckminster Fuller<br></strong>

IET DTU Student Chapter presents its annual tech fest Renaissance'19 in association with INVICTUS, VIRTUO-SOL, a simulation event. The competitor will be solving a given problem statement virtually. The event enables you to test your simulating skills in <strong>SIMULINK/Proteus/PSpice.</strong> <br>

It's time to brace up your skills & test them in this simulation extravaganza.<br>

<strong>Participation to be done individually.</strong><br>
Registration fees - NIL<br><br>


Refreshments will be provided to the participants<br>


Event Details:<a href="https://tinyurl.com/rulesvirtuoa"> https://tinyurl.com/rulesvirtuoa</a><br>

Event Date- 8th Feb 2019<br>
Event Time- 11am onwards<br>
Venue- Electrical Engineering Department, DTU<br><br>

Prizes up to ₹4,000/-💥⚡ ✨💫<br><br>
<strong>
For any queries, Contact:<br>
Aditi-9654552098<br>
Deepanshi-7011550338<br></strong></p><br>
<div class="regm">
<a class="psm" href="https://tinyurl.com/Virtuo-Sol"><div class="reg">REGISTER</div></a>
</div>
	</div>